@mixin skills {
  margin-top: $gutter;
  
  .container {
    ul {
      li {
        @include circle-with-text($gutter * 3.2);
        @include font(title);
        font-size: small;
        
        &.active {
          @include colors(white-on-black);
          border-color: $black;
        }
      }
    }
  }
  
  @include portrait {
    padding-bottom: $gutter;
    
    &.portrait {
      padding-top: row(1);
    }
    
    &.ux, &.psd {
      @include colors(white-on-black);
      
      ul li.active {
        @include colors(black-on-white);
        border-color: $white;
      }
    }
  }
}