$breakpoint-tablet: 37.5em; // 600px; 
$breakpoint-normal-screen: 64em; // 1024px
$breakpoint-large-screen: 90em; // 1440px



@mixin portrait {
  @media only screen and (max-width: $breakpoint-normal-screen - 0.001) {
    @content
  }
}

@mixin tablet {
  @media only screen and (min-width: $breakpoint-tablet) and (max-width: $breakpoint-normal-screen - 0.001) {
    @content
  }
}

@mixin landscape {
  @media only screen and (min-width: $breakpoint-normal-screen) {
    @content
  }
}

@mixin large-screen-and-up {
  @media only screen and (min-width: $breakpoint-large-screen + 0.001) {
    @content
  }
}


@mixin portrait-or-landscape {
  .portrait {
    display: none;
  }
  
  @include portrait {
    .landscape {
      display: none;
    }

    .portrait {
      display: block;
    }
  }
}
      
      