/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* Vertical rhythm
*/
/* The Grid
*/
/* line 1, typography.scss */
body {
  /* Use Serif for long text */
  font-family: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;
  font-size: 100%;
  line-height: 1.25;
}
/* line 9, typography.scss */
body .container {
  /* Use Sans serif for non-long text */
  /* Headings
   -----------------------------------------------
  */
  /* Headings dont differ by size but by decoration
   - vertical rhythm is maintained by padding
  */
  /* Lower headings are like body text but upper cased */
  /* Block level elements
  // -----------------------------------------------
  */
  /* the second <p> has a top margin */
  /* blockquote is simply indented, enlarged */
  /* address is small caps */
  /* Lists
  // -----------------------------------------------
  */
  /* Tables
  // -----------------------------------------------
  */
  /* Text styles
  // -----------------------------------------------
  */
  /* Forms
  // -----------------------------------------------
  */
  /* Reset browser defaults */
  /* Text */
  /* Button */
  /* Cross browser compatible styling: http://www.inserthtml.com/2012/06/custom-form-radio-checkbox/
    - the checkbox and radio button is not displayed
    - instead a label is displayed which can be styled with 'content' 
  */
  /* Select box 
    - put inside a <label class="select">
    - label:after is positioned over the original selectbox arrow
    - additionally padding & relative positioning must be overwritten later in the new context
  */
}
/* line 12, typography.scss */
body .container h1, body .container h2, body .container h3, body .container h4, body .container h5, body .container h6 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
/* line 27, typography.scss */
body .container h1, body .container h2, body .container h3, body .container h4, body .container h5, body .container h6 {
  font-size: 1.5em;
  padding: 1.25em 0;
  margin-top: 0;
  margin-bottom: 0;
}
/* line 35, typography.scss */
body .container h4, body .container h5, body .container h6 {
  font-size: 1.25em;
  /* small caps is not enough to distinguish header from body text */
  text-transform: uppercase;
}
/* line 42, typography.scss */
body .container h1, body .container h4 {
  font-weight: bold;
}
/* line 46, typography.scss */
body .container h2 {
  font-weight: bold;
  font-style: italic;
}
/* line 51, typography.scss */
body .container h6 {
  text-transform: none;
  font-variant: small-caps;
}
/* line 63, typography.scss */
body .container p + p {
  margin-top: 1.25em;
}
/* line 68, typography.scss */
body .container q, body .container blockquote {
  display: block;
  margin: 1.25em;
  border-left: 1px dotted;
  padding-left: 1.25em;
  font-style: italic;
  font-size: larger;
}
/* line 80, typography.scss */
body .container address {
  font-variant: small-caps;
}
/* line 89, typography.scss */
body .container ul, body .container menu, body .container dir, body .container ol {
  margin: 1.25em;
  list-style-type: square;
}
/* line 94, typography.scss */
body .container ol {
  list-style-type: decimal;
}
/* line 98, typography.scss */
body .container dl {
  margin: 1.25em 0;
}
/* line 101, typography.scss */
body .container dl dt {
  font-weight: bold;
  text-transform: uppercase;
  margin: 1.25em 0;
}
/* line 106, typography.scss */
body .container dl dd {
  margin: 0.3125em;
  margin-bottom: 0.625em;
}
/* line 111, typography.scss */
body .container dl dd + dt {
  margin-top: 2.5em;
}
/* line 123, typography.scss */
body .container table {
  margin: 1.25em 0 2.5em;
}
/* line 128, typography.scss */
body .container table thead tr td {
  font-weight: bold;
}
/* line 134, typography.scss */
body .container table tbody {
  border-top: 1px dotted;
  border-bottom: 1px dotted;
}
/* line 139, typography.scss */
body .container table td, body .container table th, body .container table tr {
  text-align: left;
  vertical-align: top;
  padding: 1.25em;
}
/* line 145, typography.scss */
body .container table td {
  border-bottom: 1px solid;
}
/* line 156, typography.scss */
body .container em, body .container i {
  font-style: italic;
}
/* line 160, typography.scss */
body .container strong, body .container b {
  font-weight: bold;
}
/* line 173, typography.scss */
body .container input, body .container textarea, body .container select {
  border: none;
  outline: 0;
  background: white;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
/* line 184, typography.scss */
body .container input[type='text'], body .container input[type='email'], body .container input[type='password'], body .container textarea {
  border: 1px solid transparent;
  border-bottom: 1px solid;
  font-style: italic;
  color: gray;
}
/* line 190, typography.scss */
body .container input[type='text']:focus, body .container input[type='email']:focus, body .container input[type='password']:focus, body .container textarea:focus {
  color: black;
  font-style: normal;
  border: 1px solid #ccc;
  border-bottom: 1px solid;
}
/* line 198, typography.scss */
body .container input[type='submit'] {
  background: black;
  color: lightgray;
  padding: 0.625em;
}
/* line 203, typography.scss */
body .container input[type='submit']:hover {
  cursor: pointer;
  color: white;
}
/* line 217, typography.scss */
body .container input[type='radio'], body .container input[type='checkbox'] {
  display: none;
}
/* line 220, typography.scss */
body .container input[type='radio'] + label, body .container input[type='checkbox'] + label {
  display: inline-block;
}
/* line 225, typography.scss */
body .container input[type='radio'] + label:after {
  content: '\2610';
  margin-right: 0.625em;
}
/* line 229, typography.scss */
body .container input[type='radio']:checked + label:after {
  content: '\25a3';
}
/* line 234, typography.scss */
body .container input[type='checkbox'] + label:before {
  content: '\2610';
  margin-right: 0.3125em;
  font-size: 200%;
  line-height: .5;
  vertical-align: top;
  color: lightgray;
}
/* line 245, typography.scss */
body .container input[type='checkbox']:checked + label:before {
  content: '\2611';
  color: black;
}
/* line 258, typography.scss */
body .container select {
  border-bottom: 1px solid gray;
  cursor: pointer;
  width: 100%;
}
/* line 263, typography.scss */
body .container label.select:after {
  content: '\003E';
  float: right;
  display: inline-block;
  padding: 0 .45em;
  position: relative;
  left: 0;
  background: white;
  pointer-events: none;
  /* this is a must */
  cursor: pointer;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
}

/* Responsive mixins
  - http://paulstamatiou.com/responsive-retina-blog-development-part-1
*/
/* line 3, layout.scss */
body .container {
  width: 90%;
  margin: 0 auto;
}
/* line 7, layout.scss */
body .container header {
  width: 100%;
  float: left;
}
/* line 10, layout.scss */
body .container header h1 {
  float: left;
  width: 18.5%;
}
/* line 15, layout.scss */
body .container header nav {
  float: left;
  width: 76.5%;
  margin-top: 2.1875em;
}
/* line 20, layout.scss */
body .container header nav ul {
  display: block;
  margin: 0;
}
/* line 4, mixins.scss */
body .container header nav ul li {
  display: inline-block;
  list-style-type: none;
  margin-left: 0;
  float: left;
  margin-right: 1.25em;
}
/* line 11, mixins.scss */
body .container header nav ul li.last {
  margin-right: 0;
}
@media (max-width: 380px) {
  /* line 26, layout.scss */
  body .container header h1, body .container header nav {
    width: 100%;
    float: left;
  }
}
@media only screen and (min-width: 381px) and (max-width: 767px) {
  /* line 33, layout.scss */
  body .container header h1 {
    width: 37%;
  }
  /* line 37, layout.scss */
  body .container header nav {
    width: 53%;
    margin-left: 5%;
  }
  /* line 41, layout.scss */
  body .container header nav li {
    margin-bottom: 1.25em;
  }
}
/* line 48, layout.scss */
body .container #content {
  width: 100%;
  float: left;
}
/* line 51, layout.scss */
body .container #content #iframe-wrapper {
  display: block;
  position: absolute;
  width: 90%;
  height: 80%;
  padding-bottom: 2.5em;
}
/* line 60, layout.scss */
body .container #content #iframe-wrapper iframe {
  display: block;
  width: 100%;
  height: 100%;
}
/* line 67, layout.scss */
body .container #content article {
  width: 100%;
  float: left;
  margin-bottom: 1.25em;
}
/* line 71, layout.scss */
body .container #content article figcaption {
  margin-bottom: 1.25em;
}
/* line 76, layout.scss */
body .container #content article figure img {
  max-width: 100%;
}
@media only screen and (min-width: 1401px) {
  /* line 76, layout.scss */
  body .container #content article figure img {
    max-width: 1400px;
  }
}
/* line 87, layout.scss */
body .container footer {
  width: 100%;
  float: left;
  margin: 1.25em 0;
}

/* The frontpage
*/
/* line 104, layout.scss */
body.csongor-bartus .container header h1 {
  width: 100%;
  float: left;
}
/* line 109, layout.scss */
body.csongor-bartus .container nav {
  width: 100%;
  float: left;
}

/* The color scheme
*/
/* All pages
*/
/* line 13, theme.scss */
body {
  color: #c2c2c2;
  background: url(/assets/background.jpg) #363636;
  background-size: cover;
}
/* line 19, theme.scss */
body .container a, body .container a:active, body .container a:visited {
  color: #c2c2c2;
  text-decoration: none;
}
/* line 26, theme.scss */
body .container nav li.desktop {
  display: block;
}
/* line 30, theme.scss */
body .container nav li.mobile {
  display: none;
}
@media only screen and (max-width: 767px) {
  /* line 35, theme.scss */
  body .container nav li.desktop {
    display: none;
  }
  /* line 39, theme.scss */
  body .container nav li.mobile {
    display: block;
  }
}
/* line 48, theme.scss */
body .container #content #iframe-wrapper {
  background: #363636;
}
/* line 52, theme.scss */
body .container #content article {
  margin-top: 2.5em;
}
/* line 55, theme.scss */
body .container #content article h4 {
  display: none;
}
/* line 59, theme.scss */
body .container #content article figcaption {
  margin-bottom: 0.625em;
}
@media only screen and (max-width: 767px) {
  /* line 65, theme.scss */
  body .container #content dl {
    background: black;
    opacity: .9;
    padding: 0.625em 0.625em 1.25em;
    max-width: 30em;
  }
}
/* line 76, theme.scss */
body .container footer a {
  border-bottom: 1px dotted;
}

/* Highlighting active navigation item
*/
/* line 101, theme.scss */
body.skills .container nav li#skills a {
  font-weight: bold;
  letter-spacing: 1px;
  padding: 0.625em;
  border: 1px outset;
}

/* line 113, theme.scss */
body.writing .container nav li#writing a {
  font-weight: bold;
  letter-spacing: 1px;
  padding: 0.625em;
  border: 1px outset;
}

/* line 125, theme.scss */
body.design-and-development .container nav li#design-and-development a {
  font-weight: bold;
  letter-spacing: 1px;
  padding: 0.625em;
  border: 1px outset;
}

/* The frontpage
*/
/* line 142, theme.scss */
body.csongor-bartus .container {
  text-align: center;
}
/* line 143, theme.scss */
body.csongor-bartus .container h1, body.csongor-bartus .container h2, body.csongor-bartus .container h3 {
  margin-top: 0;
  margin-bottom: 0;
}
/* line 144, theme.scss */
body.csongor-bartus .container h1, body.csongor-bartus .container h2, body.csongor-bartus .container h3 {
  font-weight: normal;
  font-style: normal;
}
/* line 145, theme.scss */
body.csongor-bartus .container h1 {
  font-size: 5.53846em;
  padding: 1em 0;
}
/* line 146, theme.scss */
body.csongor-bartus .container h2 {
  font-size: 3.42308em;
  padding: 1.38338em 0;
}
/* line 147, theme.scss */
body.csongor-bartus .container h3 {
  font-size: 2.61538em;
  padding: 1.28666em 0;
}
@media (max-width: 380px) {
  /* line 150, theme.scss */
  body.csongor-bartus .container h1 {
    font-size: 3.42308em;
    padding: 1.38338em 0;
  }
  /* line 151, theme.scss */
  body.csongor-bartus .container h2 {
    font-size: 2.61538em;
    padding: 1.28666em 0;
  }
}
/* line 157, theme.scss */
body.csongor-bartus .container h2 {
  font-family: 'Comfortaa', cursive;
}
/* line 161, theme.scss */
body.csongor-bartus .container h1 {
  font-family: 'Reenie Beanie', cursive;
  word-wrap: break-word;
}
/* line 166, theme.scss */
body.csongor-bartus .container p {
  font-style: italic;
  letter-spacing: 0.3125em;
}
/* line 171, theme.scss */
body.csongor-bartus .container nav {
  margin: 1.25em 0;
}
/* line 174, theme.scss */
body.csongor-bartus .container nav ul {
  list-style: none;
}
/* line 177, theme.scss */
body.csongor-bartus .container nav ul li {
  padding: 0.625em 0;
}
/* line 180, theme.scss */
body.csongor-bartus .container nav ul li a {
  padding: 0.625em;
  border-bottom: 1px outset;
  width: 17.5em;
  display: inline-block;
}
@media (max-width: 380px) {
  /* line 180, theme.scss */
  body.csongor-bartus .container nav ul li a {
    width: 8.75em;
  }
}

/* Long text pages
*/
/* line 203, theme.scss */
body.text {
  background-image: none;
}
/* line 207, theme.scss */
body.text .container #content {
  /* Make it readable
  */
  max-width: 600px;
  line-height: 1.5;
  font-size: larger;
  /* Put focus on
  */
  border-left: 1px dotted #434343;
  padding: 0 1.25em 3.75em 2.5em;
  /* Adjust visual hierarchy
  */
  /* Restore expectations
  */
  /* Decororations 
  */
  /* Images
  */
}
/* line 221, theme.scss */
body.text .container #content h2, body.text .container #content h3 {
  padding-bottom: 0;
}
/* line 225, theme.scss */
body.text .container #content h1, body.text .container #content h2, body.text .container #content h3 {
  line-height: 1.1;
}
/* line 231, theme.scss */
body.text .container #content a, body.text .container #content a:active, body.text .container #content a:visited {
  border-bottom: 1px dotted;
}
/* line 238, theme.scss */
body.text .container #content p {
  /* Highlight text
  */
  /* Separate content blocks
  */
}
/* line 241, theme.scss */
body.text .container #content p span {
  background: #c2c2c2;
  color: #363636;
  padding: 0.15625em;
  font-style: italic;
}
/* line 251, theme.scss */
body.text .container #content p.separator {
  text-align: center;
}
/* line 254, theme.scss */
body.text .container #content p.separator:after {
  content: '* * *';
}
/* line 260, theme.scss */
body.text .container #content td {
  border-color: #434343;
}
/* line 267, theme.scss */
body.text .container #content figure {
  display: inline-block;
  max-width: 65em;
}
/* line 271, theme.scss */
body.text .container #content figure a {
  border-bottom: none;
}
/* line 276, theme.scss */
body.text .container #content p + figure, body.text .container #content figure + p, body.text .container #content figure + figure {
  margin-top: 1.25em;
}
/* line 280, theme.scss */
body.text .container #content figcaption {
  font-size: normal;
  font-style: italic;
  margin-bottom: 2.5em;
}

/* line 1, common.scss */
.outline {
  display: none;
}
