/* The color scheme
*/


$color: #363636;
$background: #C2C2C2;
$yellow: #F3F3DB;



/* Content pages
*/

body {
  color: $background;
  background: url(/assets/background.jpg) $background;
  background-size: cover;
  
  .container {
    a, a:active, a:visited {
      color: $background;
      border-bottom: 1px dotted;
      text-decoration: none;
    }
    
    @include mobile {
      h1 {
        a {
          border-bottom: none;
        }
      }
        
      nav {
        margin: 0 0 $pad;
        padding-bottom: $pad;
        border-bottom: 1px outset $background;
      }
    }
   
    
    #content {
      #iframe-wrapper {
        background: #fff;
      }
      
      article {
        margin-top: $pad*2;
        
        h4 {
          display: none;
        }
        
        figcaption {
          margin-bottom: $pad/2;
        }
      }
      
      dl {
        background: black;
        padding: $pad/2;
        
        max-width: 30em;
      }
    }
    
    
  }
}



/* Highlighting active navigation item
*/

@mixin highlight {
  font-weight: bold;
  letter-spacing: 1px;
  padding: $pad/2;
  border: 1px outset;
}

body.skills {
  .container {
    nav {
      li#skills {
        a {
          @include highlight;
        }
      }
    }
  }
}

body.writing {
  .container {
    nav {
      li#writing {
        a {
          @include highlight;
        }
      }
    }
  }
}

body.design-and-development {
  .container {
    nav {
      li#design-and-development {
        a {
          @include highlight;
        }
      }
    }
  }
}






/* The frontpage
*/

body.csongor-bartus {
  background: url(/assets/background.jpg) $background;
  background-size: cover;
  
  .container {
    h1, h2, h3 { margin-top:0; margin-bottom:0; }
    h1, h2, h3 { font-weight: normal; font-style: normal;}
    h1 { font-size:5.53846em; padding:1em 0; }
    h2 { font-size:3.42308em; padding:1.38338em 0; }
    h3 { font-size:2.61538em; padding:1.28666em 0; }
    
    @include mobile {
      h1 { font-size:3.42308em; padding:1.38338em 0; }
      h2 { font-size:2.61538em; padding:1.28666em 0; }
    }

    text-align: center;
    
  
    h2 {
      font-family: 'Comfortaa', cursive;
      
      a {
        border-bottom: none;
      }
    }
    
    h1 {
      font-family: 'Reenie Beanie', cursive;
      color: $background;
      
      @include tablet-and-below {
        word-wrap: break-word;
      }
    }
    
    p {
      font-style: italic;
      letter-spacing: $pad/4;
    }
    
    nav {
      margin: $pad 0;
      
      ul {
        list-style: none;
        
        li {
          padding: $pad/2 0;
          
          a {
            padding: $pad/2;
            color: $background;
            border-bottom: 1px outset $background;
            
            width: $pad*14;
            display: inline-block;
            
            @include mobile {
              width: $pad*7;
            }
          }
        }
      }
    }
    
  }
}



