/* The color scheme
*/

$color: #363636;
$background: #fff;


body {
  .container {
    color: $color;
    background: $background;
  
    a, a:active, a:visited {
      color: $color;
      border-bottom: 1px dotted;
      text-decoration: none;
    }
  }
}
